<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 sidebar">
        <ul class="sidebar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Questions</a></li>
          <li><a href="#">Tags</a></li>
          <li><a href="#">Users</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Teams</a></li>
          <li><a href="#">Explore</a></li>
        </ul>
      </div>
  
      <!-- Main Content Area -->
      <div class="col-md-9 col-lg-10 content">
        <h1>Welcome to Stack Overflow</h1>
        <p>This is an example of a sidebar layout like the one used in Stack Overflow.</p>
        <p>Put your main content here.</p>
      </div>
    </div>
  </div>
